<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    <title>Football Shop - {{title}}</title>
</head>
<body>
    <h1> Individual Order</h1>
    
        <section>
            <p>
                <b>{{orders.customer_name}}: </b>{{orders.order_date}} : <b>{{orders.quantity}} x </b><b>{{orders.club_name}}</b> top(s)
            </p>
        </section>
    
</body>
</html>